<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>CVNumérique</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>




<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow">
        <div class="container-fluid bar">
            <a class="navbar-brand" href="#"><img src="assets/img/Logo CV.jpg" class="img-fluid" alt="Logo Maxime Jumel"
                    width="250" height="250"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item order-1 order-md-0">
                        <a class="nav-link mx-5" aria-current="page" href="#About">À propos</a>
                    </li>
                    <li class="nav-item order-2 order-md-1">
                        <a class="nav-link mx-5" href="#Experiences">Expériences professionnelles</a>
                    </li>

                    <li class="nav-item order-3 order-md-2 navbarlink mt-md-2">

                        <a class="nav-link mx-5" href="#Formation">Formation</a>

                    </li>

                    <li class="nav-item order-3 order-md-2 mt-md-2">
                        <a class="nav-link mx-5" href="#Competences">Compétences</a>
                    </li>
                    <li class="nav-item order-3 order-md-2">
                        <a class="nav-link mx-5" href="#Contact">Me contacter</a>
                    </li>

            </div>

        </div>

    </nav>
    <div class="about">
        <h1 id="About">À propos</h1>
    </div>
    <div class="card mb-3 shadow p-3 mb-5 bg-body rounded card1" style="max-width: 1220px;">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="imgprofil">
                <img src="assets/img/Profil.png" width=100 height=100 alt="Photo de profil">
            </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5>Maxime Jumel</h5>
                    <p class="card-text">
                    <div class="info">
                        <div>37 chemin de la vierge</div>
                        <div>80160 NAMPTY</div>
                        <div>06 16 09 69 54</div>
                        <div>m.jumel@hotmail.fr</div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="phrase">
        <div class="separation">
            <p>_____________________</p>
        </div>
        <div class="citation">
            <p>Formation Concepteur Designer UI à La Manu Amiens</p>
        </div>
        <div class="separation">
            <p>_____________________</p>
        </div>
    </div>

    <div class="pro">
        <h1 id="Experiences">Expériences professionnelles</h1>
    </div>

    <div class="cardexp d-md-none d-sm-block">

        <div class="card">
            <div class="card-header item3">
                03 avril - 25 mai 2018
            </div>
            <div class="card-body">
                <blockquote class="blockquote blockquote1 mb-0">
                    <p>Courrier Picard - Stage</p>
                    <footer class="blockquote mb-0">RH : déploiement de la GPEC (gestion prévisionnelle de l'emploi et
                        des compétences)
                        Marketing/communication : participation à la refonte de l'identité visuelle de la régie
                        publicitaire du journal, sélection et préparation de produits dérivés, choix des outils de
                        communication et refonte de ceux existants
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                09 mai - 17 juin 2017
            </div>
            <div class="card-body">
                <blockquote class="blockquote blockquote1 mb-0">
                    <p>CNITAAT (Cour Nationale de l’Incapacité et de la Tarification de l’Assurance des Accidents du
                        Travail) - Stage</p>
                    <footer class="blockquote mb-0">Découverte des contentieux relatifs au champ d'action de la Cour et
                        participation à des audiences
                        Pré-enregistrement des dossiers des justiciables
                        Réorganisation de l'ensemble des archives du service "Adultes handicapés" (classement, tri,
                        pointage…)
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                20 juin - 15 juillet 2016
            </div>
            <div class="card-body">
                <blockquote class="blockquote blockquote1 mb-0">
                    <p>Orange Amiens - Stage</p>
                    <footer class="blockquote mb-0 item2">Pôle ressources humaines : Découverte de la gestion et de
                        l'organisation des ressources humaines à l'échelle d'une entreprise internationale
                        Utilisation et familiarisation avec les logiciels informatiques de traitement des demandes des
                        salariés (congés, paies, absences...)
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>




    <div class="container exp d-none d-sm-block">
        <div class="container-fluid xp ">
            <div class="row">
                <div class="col ">

                    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
                    <div class="history-tl-container">
                        <ul class="tl">
                            <li class="tl-item" ng-repeat="item in retailer_history">
                                <div class="timestamp">
                                    <div class="date">
                                        03 avril - 25 mai 2018
                                    </div>
                                </div>
                                <div class="item-title">Courrier Picard - Stage</div>
                                <div class="item-detail">RH : déploiement de la GPEC (gestion prévisionnelle de l'emploi
                                    et
                                    des
                                    compétences)</div>

                                <div class="item-detail"> Marketing/communication : participation à la refonte de
                                    l'identité
                                    visuelle de
                                    la régie publicitaire
                                    du journal, sélection et préparation de produits dérivés, choix des outils de
                                    communication
                                    et
                                    refonte de ceux existants</div>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                                <div class="timestamp">
                                    <div class="date">
                                        09 mai - 17 juin 2017
                                    </div>
                                </div>
                                <div class="item-title">CNITAAT (Cour Nationale de l’Incapacité et de la Tarification de
                                    l’Assurance
                                    des
                                    Accidents du
                                    Travail) - Stage </div>
                                <div class="item-detail">Découverte des contentieux relatifs au champ d'action de la
                                    Cour et
                                    participation à des audiences</div>
                                <div class="item-detail"> Pré-enregistrement des dossiers des justiciables</div>
                                <div class="item-detail"> Réorganisation de l'ensemble des archives du service "Adultes
                                    handicapés"
                                    (classement, tri,
                                    pointage…)</div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                                <div class="timestamp">
                                    <div class="date">
                                        20 juin - 15 juillet 2016
                                    </div>
                                </div>
                                <div class="item-title">Orange Amiens - Stage
                                </div>
                                <div class="item-detail">Pôle ressources humaines :
                                    Découverte de la gestion et de l'organisation des ressources humaines à l'échelle
                                    d'une
                                    entreprise
                                    internationale</div>
                                <div class="item-detail"> Utilisation et familiarisation avec les logiciels
                                    informatiques de
                                    traitement
                                    des demandes des
                                    salariés (congés, paies, absences...)</div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 id="Formation"> Formation</h1>

    <div class="cardexp d-md-none d-sm-block">


        <div class="card">
            <div class="card-header">
                2019
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote mb-0">27 mai - 19 juin : Formation MS Techniques de vente (Interfor SIA
                        Amiens)
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                2018
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote mb-0">27 septembre - 31 janvier :Master 1 CNAM Hauts de France Droit
                        Économie Gestion Mention Commerce Marketing Spécialité Distribution Vente (abandon)
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                2018
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote mb-0">Obtention Licence 3 Gestion parcours Management (IAE Amiens)
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                2017
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote mb-0">DUT GEA spécialité GMO (Gestion et Management des Organisations)
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                2015
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote mb-0 itembac">Baccalauréat Économique et Social, spécialité mathématiques,
                        au lycée du Sacré Coeur à Amiens, mention AB
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container formation d-none d-sm-block">
        <div class="container-fluid ">
            <div class="row">
                <div class="col">
                    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
                    <div class="history-tl-container">
                        <ul class="tl">
                            <li class="tl-item" ng-repeat="item in retailer_history">
                                <div class="timestamp">
                                    <div class="date">
                                        2019
                                    </div>
                                </div>
                                <div class="item-detail">27 mai - 19 juin : Formation MS Techniques de vente
                                    (Interfor SIA
                                    Amiens)
                                </div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                                <div class="timestamp">
                                    <div class="date">
                                        2018
                                    </div>
                                </div>
                                <div class="item-detail">27 septembre - 31 janvier :Master 1 CNAM Hauts de France
                                    Droit
                                    Économie
                                    Gestion
                                    Mention Commerce Marketing Spécialité Distribution Vente (abandon)</div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                                <div class="timestamp">
                                    <div class="date">
                                        2018
                                    </div>
                                </div>
                                <div class="item-detail">Obtention Licence 3 Gestion parcours Management (IAE
                                    Amiens) </div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                                <div class="timestamp">
                                    <div class="date">
                                        2017
                                    </div>
                                </div>
                                <div class="item-detail">DUT GEA spécialité GMO (Gestion et Management des
                                    Organisations)
                                </div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                                <div class="timestamp">
                                    <div class="date">
                                        2015
                                    </div>
                                </div>
                                <div class="item-detail">Baccalauréat Économique et Social, spécialité
                                    mathématiques, au
                                    lycée
                                    du
                                    Sacré
                                    Coeur à Amiens, mention AB</div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="competence">
        <h1 id="Competences">Compétences</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="bartitle">
                    <p>Anglais</p>
                </div>
                <div class="progress">
                    <div class="skill progress-bar progress-bar-striped progress-bar-animated height: 20px"
                        role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        65%</div>
                </div>
            </div>


            <div class="col-12 col-md-4">
                <div class="bartitle">
                    <p>Espagnol</p>
                </div>
                <div class="progress">
                    <div class="skill progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="bartitle">
                    <p>Pack Office</p>
                </div>
                <div class="progress">
                    <div class="skill progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                        style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="bartitle">
                    <p>Suite iWork Mac</p>
                </div>
                <div class="progress">
                    <div class="skill progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="bartitle">
                    <p>Wordpress</p>
                </div>
                <div class="progress">
                    <div class="skill progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="contact">
        <h1 id="Contact"> Contactez-moi</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <p class="card-text"> <label for="form-control" class="form-label">Objet</label>
                            <input class="form-control" type="text" aria-label="default input example">

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Adresse e-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">

                            <div class="mb-3 message ">
                                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>



                        </div>
                        <div class="send-button text-center">
                            <a href="#" class="btn btn-secondary">Envoyer</a>
                        </div>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card contact-card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body adress">
                        <div class="logo2">
                        <img src="assets/img/Logo CV 2.jpg" width=100 height=100 alt="Logo">
                    </div>
                        <div class="name">
                            <p> Maxime Jumel</p>
                        </div>
                        <p class="card-text">
                        <div class="join">
                            <div>37 chemin de la vierge</div>
                            <div>80160 NAMPTY</div>
                            <div>06 16 09 69 54</div>
                            <div>m.jumel@hotmail.fr</div>
                        </div>
                        </p>
                        <div class="icon">
                            <i class="fab fa-linkedin-in"></i>
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-github-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/bcc4c7fee2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>