@media screen and (min-width: 600px) {

    h5 {
        font-size: 25pt;
    }

    .card1 {
        text-align: right;
    }

    .name {
        font-family: 'HelveticaNeue', Thin 100;
        font-weight: lighter;
        font-size: 20pt;
        margin-bottom: 30pt;
        color: #8D8D8D;
    }


    .bartitle {
        text-align: center;
        margin-top: 15pt;
        font-family: 'HelveticaNeue', sans-serif;
        font-weight: bold;
        font-size: 12pt;
    }

    .progress {
        font-size: 12pt;
        height: 50px;

    }
    .btn {
        background-color: #8D8D8D;
        font-family: 'HelveticaNeue', sans-serif;
        font-weight: bold;
        border: none;
    
    }

    .icon {
        text-align: center;
        font-size: 30pt;
        margin-bottom: 15pt;
        color: #8D8D8D;

    }
}



@media screen and (max-width: 600px) {
    html {
        font-size: 25pt;
    }

    .img-fluid {
        height: 120pt;
        width: 360pt;
    }

    .nav-link {
        font-size: 35pt;

    }

    .join {
        font-size: 25pt;
    }

    h5 {
        font-size: 35pt;
    }

    .info {
        font-size: 25pt;
    }

    .citation {
        font-size: 35pt;
    }

    .card1 {
        text-align: center;
    }

    .bartitle {
        text-align: center;
        margin-top: 15pt;
        font-family: 'HelveticaNeue', sans-serif;
        font-weight: bold;
        font-size: 25pt;
    }



    .progress {
        font-size: 25pt;
        height: 100px;

    }

    .btn {
        background-color: #8D8D8D;
        font-family: 'HelveticaNeue', sans-serif;
        font-weight: bold;
        border: none;
        padding-top: 48pt;
        padding-bottom: 48pt;
        padding-right: 20pt;
        padding-left: 20pt;
        margin-top: 20pt;
        border-radius: 90px;
    
    }


    .name {
        font-family: 'HelveticaNeue', Thin 100;
        font-weight: lighter;
        font-size: 30pt;
        margin-bottom: 30pt;
        color: #8D8D8D;
    }


    .icon {
        text-align: center;
        font-size: 50pt;
        margin-bottom: 15pt;
        color: #8D8D8D;

    }
}




.bar {
    font-size: 16pt;
    font-family: 'HelveticaNeue', Thin 100;
    font-weight: lighter;
}

.imgprofil {
    margin-top: 30pt;
    text-align: center;

}

.formation1 {
    color: #8D8D8D;
}



h5 {
    font-family: 'HelveticaNeue', sans-serif;
    color: #DB8383;
    font-weight: bold;

}

h1 {
    font-family: 'HelveticaNeue', Thin 100;
    font-weight: lighter;
    font-size: 50pt;
    text-align: center;
    color: #8D8D8D;

}

.about {
    font-family: 'HelveticaNeue', Thin 100;
    font-weight: lighter;
    font-size: 50pt;
    text-align: center;
    color: #8D8D8D;
    margin-top: 40pt;
    margin-bottom: 20pt;
}

.pro {
    font-family: 'HelveticaNeue', Thin 100;
    font-weight: lighter;
    font-size: 50pt;
    text-align: center;
    color: #8D8D8D;
    margin-top: 40pt;

}

.compétences {
    font-family: 'HelveticaNeue', Thin 100;
    font-weight: lighter;
    font-size: 50pt;
    text-align: center;
    color: #8D8D8D;
    margin-bottom: 20pt;
}

.contact {
    font-family: 'HelveticaNeue', Thin 100;
    font-weight: lighter;
    font-size: 50pt;
    text-align: center;
    color: #8D8D8D;
    margin-bottom: 15pt;
    margin-top: 50pt;
}

.separation {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: bold;
    margin-bottom: 35pt;
    color: #4F9F92;
}

.phrase {
    font-family: 'HelveticaNeue', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
    color: #4F9F92;
}

/* Expériences profesionelles et formation version mobile */

.card-header {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: #DB8383;
    background-color: white;
}

footer {
    color: #8D8D8D;
    font-size: 12pt;
}

.blockquote1 {
    font-family: 'HelveticaNeue', sans-serif;

    font-size: 12pt;
    color: black;
}

.itembac {
    padding-bottom: 20pt;
}

.item2 {
    padding-bottom: 20pt;
}

.item3 {
    padding-top: 20pt;
}



/* Expériences profesionelles */


body {
    line-height: 1.3em;

}

.history-tl-container {
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;

}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;


}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    margin-left: 20px;
    min-height: 50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left: 1px dashed #8D8D8D !important;
    padding: 0 0 50px 30px;
    position: relative;

}

.history-tl-container ul.tl li:last-child {
    border-left: 0;

}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #DB8383 !important;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
    box-sizing: border-box;

}

.history-tl-container ul.tl li:hover::before {
    border-color: #DB8383 !important;
    transition: all 1000ms ease-in-out;
}


ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    width: 100px;
    left: -50%;
    text-align: right;
    font-size: 12px;


}


/* Formation */


body {
    line-height: 1.3em;
    min-width: 920px;
}

.history-tl-container {
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;

}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    margin-left: 200px;
    min-height: 50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left: 1px dashed #86D6FF;
    padding: 0 0 50px 30px;
    position: relative;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: bold;
    font-size: 12pt;
}

ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    width: 100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}

.date {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: #DB8383;
}


/* Compétences */





.skill {
    background-color: #4F9F92;
    font-weight: bold;
}


.progress {
    margin-left: 20pt;
    margin-right: 20pt;
}



/* Contact */


.card {
    border: none;
    margin-left: 20pt;
    margin-right: 20pt;
}

.adress {
    text-align: center;
}

.join {
    font-family: 'HelveticaNeue', sans-serif;
    margin-bottom: 30pt;
}


.form-control {
    background-color: rgb(227, 228, 228);
    border: none;

}

.message {
    margin-top: 12pt;


}